// Put any @imports here
// See Readme for a list of supported ones

@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body {
}

.content {
  margin: 60px auto;
  padding: 30px;
}

img.homepage {
  display: block;
  width: 100%;
  max-width: 900px;
}


// folder imports
@import './notes/index.scss';
@import './fangraphs/index.scss';


// main layout styles
@import './navbar.scss';
@import './fonts.scss';