// Put any @imports here
// See Readme for a list of supported ones

@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body {
  background: #e2ebf3;
}

.content {
  margin: 40px auto;
  padding: 30px;
}


// folder imports
@import './notes/index.scss';
@import './fangraphs/index.scss';


// main layout styles
@import './navbar.scss';
@import './fonts.scss';