.navbar-fixed-top {
  background-color: black;
  color: white;
  display: block;

  ul {
    display: block;
    height: 50px;
    width: 90%;
    margin: 10px auto;
    list-style-type: none;

    li {
      display: inline-block;
      height: 50px;
      margin: 15px 20px;

      a {
        font-size: 1.0em;
        color: white;
      }
    }

  }

}