.navbar-fixed-top {
  background-color: black;
  color: white;
  display: block;
  height: 50px;

  ul {
    display: block;
    width: 90%;
    margin: 0 auto;
    list-style-type: none;

    li {
      display: inline-block;
      margin: 10px 20px;

      a {
        font-size: 1.0em;
        color: white;
      }
    }

  }

}