<h2>Load players and Ids</h2>


<form class="import-file-form" ng-submit="vm.loadPlayers(position)">
 <select ng-model="position">
  <option ng-repeat="position in vm.positions">{{ position }}</option>
 </select>
 <ng-csv-import id="playerImport" content="csv.content"
    header="csv.header" 
    separator="csv.separator"
    result="csv.result"
    accept="csv.accept"></ng-csv-import>
  <button>Submit</button>
</form>



<div ng-show="vm.dataArray.length > 1">
  <p>Would you like to load these {{ vm.dataArray.length }} players to the database?</p>
  <button class="btn btn-success" ng-click="vm.submitData()">
    Add to database
  </button>
</div>





