<form class="form-inline add-player">
  <h2>Add a player</h2>
  <div class="form-group">
    <div class="input-group">
      <input ng-model="newPlayer.firstName" placeholder="First name"/>
      <input ng-model="newPlayer.lastName" placeholder="Last name"/>
      <input ng-model="newPlayer.fgId" placeholder="FanGraphs ID"/>
      <select ng-model="newPlayer.position" style="vertical-align: top;">
        <option ng-repeat="position in vm.positions">{{ position }}</option>
      </select>
    </div>
    <button ng-click="vm.addPlayer(newPlayer)" class="form-control btn btn-success">Add</button>
  </div>
</form>




<!-- drop down for player selection -->

<a href="#/fangraphs/manage-players">Manage players</a>

<form class="form choose">
  <h2>Choose a player</h2>
  <div class="form-group">
    <div class="input-group">
      <select 
        class="form-control" 
        ng-model="player" 
        ng-options="player.fullName for player in vm.players">
      </select>
      <button ng-click="vm.submitPlayer(player)" class="btn btn-success" style="vertical-align: top; margin-top: 4px;">Submit</button>
    </div>
  </div>
</form>






<div ng-show="vm.loaded" class="table_container">
  <h1>Player shown: {{ player.firstName }} {{ player.lastName }}</h1>

  <table class="table table-hover table-responsive">
    <tr class="header_row">
      <td>Year</td>
      <td>Team</td>
      <td>K/9</td>
      <td>FIP</td>
    </tr>
    <tr class="data_row" ng-repeat="row in vm.rows">
      <td>{{ row['year'] }}</td>
      <td>{{ row['team'] }}</td>
      <td>{{ row['K/9']  }}</td>
      <td>{{ row['FIP']  }}</td>
    </tr>
  </table>
</div>

